<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body class='container'>
		<h1> Edit Tournaments </h1>
		<form action='/tournaments/<%=Tournaments.id%>?_method=PUT' method='POST'>
			Name: <input type='text' name='name' value='<%=Tournaments.name %>' />
			<br />
			Location: <input type='text' name='location' value='<%=Tournaments.location %>' />
			<br />
			Date: <input type='text' name='data' value='<%=Tournaments.date %>' />
			Img: <input type='image' name='img' value='<%=Tournaments.img %>' />
			<br />
			Competitive: <input type='checkbox' name='competitive' <% if(Tournaments.competitive === true){ %>
			checked
			<% } %>
			<br />
			Social: <input type='checkbox' name='social' <% if(Tournaments.social === true){ %>
			checked
			<% } %>
			<br />
			Rating: <input type='number' name='rating'
			value='<%=Tournaments.rating %>' />
			<br />
			Review: <input type='text' name='review'
			value='<%=Tournaments.review %>' />
			<br />
			<input type='submit' value='Submit Tournament' />
		</form>
	</body>
</html>
