<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body class='container'>
			<div>
					<h1 class='header'> Rugby Tour </h1>
					<ul class='row'>
						<% for (let i = 0; i < Tournaments.length; i++){ %>
							<li>
							<a href='/tournaments/<%=Tournaments[i].id; %>'>
						<img class='five columns tourimg' src='<%=Tournaments[i].img%>'/>
						</a>
						<!-- <button>
						<a class='tourinfo' href='/tournaments/<%=Tournaments[i].id; %>'>
						<%=Tournaments[i].name; %>
						</a>
						<%=Tournaments[i].location; %>
						<%=Tournaments[i].date; %>
					</button> -->
					</li>
		 				<% } %>
					</ul>
				</div>


			<button>
				<a href='/tournaments/new'> Add Tournament Review </a>
			</button>
			<footer class='footer'>
				<% include ../partials/footer.ejs %>
			</footer>
	</body>
</html>
