<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body class='container'>
		<h1> Tournament Index Page </h1>
		<ul>
			<% for (let i = 0; i < Tournaments.length; i++){ %>
			<li>
				<a href='/tournaments/<%=Tournaments[i].id; %>'>
			<%=Tournaments[i].name; %>
				</a>
			<%=Tournaments[i].location; %>
			<%=Tournaments[i].date; %>
			<a href='/show.ejs'></a>
			<img src='<%=Tournaments[i].img%>'/>
			<% if(Tournaments[i].competitive === true){ %>
					Competitive
				<% } else { %>
					Less Competitive
				<% } %>
			<% if(Tournaments[i].social === true){ %>
					Social
				<% } else { %>
					More Competitive
				<% } %>
				<%=Tournaments[i].rating; %>
				<%=Tournaments[i].review; %>
<!--delete form here before closing li -->
<!--make action delete with method override -->
			<form action='/tournaments/<%=Tournaments[i].id; %>?_method=DELETE' method='POST'>
				<input type='submit' value='Delete Tournament'  />
			</form>
<!-- link for edit page ------->
			<a href='/tournaments/<%=Tournaments[i].id; %>/edit'> Edit Tournament</a>
			</li>
		 <% } %>
		</ul>
		<nav>
			<a href='/tournaments/new'> Add Tournament Review </a>
		</nav>
	</body>
</html>
