<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body class='container'>
		<h1> Tournament </h1>
		<a href='/tournaments/<%=Tournaments._id; %>'>
			<%=Tournaments.name; %>
		</a>
		<%=Tournaments.location; %>
		<%=Tournaments.date; %>
		<img src='<%=Tournaments.img%>'/>
		<%=Tournaments.competitive; %>
		<%=Tournaments.social; %>
		<%=Tournaments.rating; %>
		<%=Tournaments.review; %>.
		<nav>
			<!-- link for edit page ------->
			<a href='/tournaments/<%=Tournaments.id; %>/edit'> Edit Tournament</a>
			<!--delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/tournaments/<%=Tournaments.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete Tournament'  />
						</form>
			<a href='/tournaments'>Back to Tournament Index</a>
		</nav>
	</body>
</html>
