<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div>
		</div>
		<div>
				<h3 class='architects'>
			<%=Tournaments.name; %>
		</h3>
		</div>
		<div>
			<h4 class='architects'>
		<%=Tournaments.location; %>
	</h4>
		</div>
		<div>
			<h4 class='architects'>
		<%=Tournaments.date; %>
	</h4>
		</div>
		<div>
		<img class='showimg' src='<%=Tournaments.img%>'/>
		</div>
		<div>
			<% if(Tournaments.competitive === true){ %>
				Very Competitive
			<% } else { %>
				Less Competitive Than Social
			<% } %>
		</div>
		<div>
			<% if(Tournaments.social === true){ %>
				Social
			<% } else { %>
				More Competitive Than Social
			<% } %>
		</div>
		<div>
		Rating: <%=Tournaments.rating; %>
		</div>
		<div class='review'>
		<%=Tournaments.review; %>
		</div>
		</div>
		<button>
			<!-- link for edit page ------->
			<a href='/tournaments/<%=Tournaments.id; %>/edit'> Edit Tournament</a>
			<!--delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/tournaments/<%=Tournaments.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete Tournament'  />
						</form>
			<a href='/tournaments'>Back to Tournament Index</a>
		</button>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
