<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body class='container'>
		<div>
		<div>
		<h1> Tournament </h1>
		</div>
		<div>
		<a href='/tournaments/<%=Tournaments._id; %>'>
			<%=Tournaments.name; %>
		</a>
		</div>
		<div>
		<%=Tournaments.location; %>
		</div>
		<div>
		<%=Tournaments.date; %>
		</div>
		<div>
		<img src='<%=Tournaments.img%>'/>
		</div>
		<div>
		<%=Tournaments.competitive; %>
		</div>
		<div>
		<%=Tournaments.social; %>
		</div>
		<div>
		<%=Tournaments.rating; %>
		</div>
		<div>
		<%=Tournaments.review; %>.
		</div>
		</div>
		<nav>
			<!-- link for edit page ------->
			<a href='/tournaments/<%=Tournaments.id; %>/edit'> Edit Tournament</a>
			<!--delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/tournaments/<%=Tournaments.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete Tournament'  />
						</form>
			<a href='/tournaments'>Back to Tournament Index</a>
		</nav>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
